<?xml version="1.0" encoding="UTF-8"?>
<suite name="Parallel_test_suite" parallel="methods" thread-count="5">
    <test name="Parallel test">
        <parameter value="chrome"/>
        <classes>
            <class name="tests.MainPageTest"/>
            <class name="tests.DressesPageTest"/>
        </classes>
    </test>
</suite>